# Peer-graded Assignment (Exercise 2)

### Introduction (Exercise 3)
Welcome to my data science notebook! In this notebook, we will explore various data science concepts and tools.

### Data Science Languages (Exercise 4)
- Python
- R
- SQL

### Data Science Libraries (Exercise 5)
- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn

### Data Science Tools (Exercise 6)
| Tool              | Purpose                   |
|-------------------|---------------------------|
| Jupyter Notebook  | Interactive computing     |
| TensorFlow        | Machine learning library  |
| Keras             | High-level neural networks|
| Tableau           | Data visualization        |
| SQL               | Database querying         |

### Arithmetic Expression Examples (Exercise 7)
Let's explore some basic arithmetic expressions using Python.

In [4]:
# Multiplication (Exercise 8)
result_multiply = 5 * 7

# Addition
result_addition = 12 + 8

result_multiply, result_addition

(35, 20)

In [5]:
# Conversion of minutes to hours (Exercise 9)
minutes = 120
hours = minutes / 60

hours

2.0

### Objectives (Exercise 10)
1. Explore data science languages and libraries.
2. Understand basic arithmetic expressions in Python.
3. Perform simple calculations and conversions.

### Author
Khant Htay@2024